<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Animal Blog</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>

    <body>

        <div class="jumbotron text-center p-3" style="background-color:#266150; color:white;">
            <h1>{{ Title }}...</h1>
            <p>{{ Description }}...</p>
        </div>

        <br>
        <div class="p-3">
        <p>
            {{ Content }}
        </p>
        </div>

    </body>

</html>